.git
.gitignore
.env
.env.local
.env.*.local
/var/cache
/var/logs
/var/sessions
node_modules
npm-debug.log
/.idea
/.vscode
.DS_Store
*.swp
*.swo
*~
.phpstan
Dockerfile
docker-compose.yaml
compose.override.yaml
compose-disable.yaml
compose.override-disable.yaml
README.md
TODO.md
